$--primary-color: #E39DC4;
$--color-pink: #E8C0D7;
$--color-darkpink: #9E0059;
$--text-color: #9E0059;
$--text-white: #fff;
$--button-green: #09814A;
$--button-blue: #004E89;
$--button-red: #9E0059;
$--button-grey: #D7DFE0;

$--base: 900px;

@mixin flex($direction) {
  display: flex;
  justify-content: $direction;
}
@mixin subtitle() {
  font-size: 2rem;
  font-weight: bold;
}

[pink] {
  background: $--color-pink;
}

[darkpink] {
  background: $--color-darkpink;
}

* {
  margin: 0px;
  padding: 0px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Catamaran', sans-serif;
}
p, div, span, button {
  font-family: 'Source Sans Pro', sans-serif;
}
p {
  font-size: 18px
}
.active {
  display: inline;
}
.off {
  display: none;
}
.bgVetor {
  background-image: url('/assets/Elipse.png');
  background-repeat: no-repeat;
  background-size: 15rem;
}

body {
  main {
    width: 100%;
    height: 100%;

    .one-container {
      @include flex(center);
      background: url('/assets/BG1.png');
      background-size: cover;
      background-position: 80% -100px ;
      background-repeat: no-repeat;
      padding-bottom: 15rem;
      .one-content {
        max-width: $--base;
        .title-container {
          display: flex;
          align-items: center;
        }
      }
    }
    
    .two-container {
      min-height: 15rem;
      @include flex(center);
      flex-direction: column;
      align-items: center;
      .two-content {
        max-width: $--base;
        width: 100%;
      }
    }
    .info-content {
      display: flex;
      align-items: center;
      max-width: $--base;
      width: 100%;
      padding: 8rem 11rem 10rem 6rem;
      margin: 2rem 0;
      background: url('/assets/Box.png');
      background-size: 90%;
      background-repeat: no-repeat;
    }
    
    .three-container {
      @include flex(center);
      flex-direction: column;
      align-items: center;
      background: url('/assets/BG2.png');
      background-size: 100% 90%;
      background-position: 0 200px;
      background-repeat: no-repeat;
      .three-content {
        margin-top: 6rem;
      }
      .three-content, .card-content {
        max-width: $--base;
        width: 100%;
      }
    }
  }
}