body {
  $base: 1200px;
  main {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: url('/assets/BG1.png');
    background-size: 150%;
    background-position: ;
    section.one {
      max-width: $base;
      .title-container {
        display: flex;
        align-items: center;
      }
    }
  }
}