@import 'base.scss';

@mixin flexColumn {
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
@media screen and (max-width:1200px) {
  .info-content {
    background-size: 100%;
    background-position: center;
    padding: 4rem !important;
  }
  .title-container {
    justify-content: center;
    .title-content {
      h1 {
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
    .title-image {
      display: none
    }
  }
  .two-container {
    .two-content {
      @include flexColumn();
      h2 {
        text-align: center;
      }
    }
  }
  .three-container {
    .three-content {
      @include flexColumn();
      margin-top: 0px !important;
    }
    .card-content {
      row-gap: 1rem;
      .card-content-scroll {
        @include flexColumn();
        max-height: 100%;
        &:first-child {
          margin-top: 0px;
        }
        &:nth-child(4) {
          margin-bottom: 0px;
        }
      }
      .card-scroll {
        .card-row{
          @include flexColumn();
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .one-container, .three-container {
    background-size: cover;
    background-position: 0px 0px;
  }
  .info-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 4rem 7rem !important;
    .info-content {
      width: 80%;
      padding: 0px !important;
      img {
        width: 100px;
      }
      div>p {
        font-size: 1rem;
        padding-left: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  
  .info-container {
    &:first-child {
      opacity: 0;
    }
    padding: 4rem 1rem !important;
   .info-content {
     img{
       display: none;
     }
   }
  }
  .card-content {
    .card-content-scroll {
      //padding: 2rem;
      .three-content-title {
        margin: 0px;
        p {
          text-align: justify;
        }
      }
    }
    .card-scroll {
      box-shadow: 3px 3px 4px 8px rgba(0, 0, 0, 0.015);
      padding: 2rem;
      .card-row {
        row-gap: 1rem;
        .three-content-title {
          margin: 0px;
          p {
            text-align: justify;
          }
        }
        .card-image {
          img {
            width: 100%;
          }
        }
      }
    }
  }
  #slider {
    .slider-content {
      .card-img-container {
        .card-img-content {
          min-height: 400px;
        }
      }
    }
  }
}

@media screen and (max-width: 677px) {
  body {
    main {
      width: 100vw;
      overflow-x: hidden;
    }
  }
  .info-container {
    min-height: 400px;
    padding: 0.5rem 0px !important;
    .info-content {
      div>p {
        padding: 0px;
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
        &:nth-child(3){
          display: none;
        }
      }
    }
  }
  nav {
    column-gap: 0.5rem;
    button {
      padding: 1rem;
    }
  }
  .title-container {
    padding: 1rem;
    .title-content {
      h1 {
        font-size: 2.5rem;
      }
    }
  }
  .teoria-container {
    padding: 1rem;
    .teoria-content {
      button {
        width: 6rem;
        img {
          width: 6rem;
        }
      }
    }
  }
  .bgVetor {
    background-size: 6rem;
  }
  .two-container {
    padding: 1rem;
  }
  .three-container {
    .three-content {
      .three-content-title {
        margin: 0px;
        padding: 1rem;
      }
      .three-content-box {
        column-gap: 6rem;
      }
    }
    .card-content {
      .card-content-scroll {
        .card-image {
          width: 96%;
          @include flex(center);
          img {
            max-width: 100%;
            height: 100%;
          }
        }
      }
      .card-scroll {
        .card-row {
          .card-image {
            img {
              max-width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}